<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Assets</h1>
   
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-lg-12" style="text-align:center">
                    <a class="collapse-item" href="{% url 'BackOfficeApp:add_customer_product'  %}">Add New Asset</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col" width="50">#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Serial Number</th>
                            <th>Year</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Market Value</th>
                    </thead>
                    
                    <tbody>
                        {% for product in dashboard_session.all_customers_products %}
                            <tr>
                                <th scope="row"> <a href="{% url 'BackOfficeApp:update_customer_product' product_id=product.id %}">{{forloop.counter}}</a></th>
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.serial_number}}</td>
                                <td>{{product.year}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.category}}</td>
                                <td>R{{product.market_value}}</td>
                            </tr>
                       {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->