{% load static %}

<div class="btn-group dropright customers-action-button">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'BackOfficeApp:add_customer'  %}">Add Customer</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Customer Filters</h6>
    <a class="dropdown-item" href="{% url 'BackOfficeApp:get_customers'  %}?filter=all">All customers</a>
    <a class="dropdown-item" href="{% url 'BackOfficeApp:get_customers'  %}?filter=active">Only customers with active accounts</a>
  </div>
</div>
<div class="row my-5 customers-table table-responsive">
    <h3>Customers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                    <th>Gender</th>
                    <th>Home Address</th>
                    <th>Cell Number</th>
                    <th>AccountId</th>
                    <th>Loan Amount</th>
                    <th>Rate</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>

                {% for customer in dashboard_session.customers %}
                <tr>
                    <th scope="row"> <a href="{% url 'BackOfficeApp:update_customer_personal_details' id_number=customer.id_number %}">{{forloop.counter}}</a></th>
                    <td>{{customer.first_name}}</td>
                    <td>{{customer.last_name}}</td>
                    <td>{{customer.id_number}}</td>
                    <td>{{customer.gender}}</td>
                    <td>{{customer.home_address}}</td>
                    <td>{{customer.cell_phone_number}}</td>
                   
                    <td>{{customer.account_id}}</td>
                    {% if customer.loan_amount == None %}
                      <td>{{customer.loan_amount}}</td>
                    {% else %}
                      <td>R{{customer.loan_amount}}</td>
                    {% endif %}
                    <td>{{customer.rate}}</td>
                    <td>{{customer.created_at}}</td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div> 

