{% load static %}
<link rel="stylesheet" href="{% static 'AdminDashboard/customer_registration.css' %}">

<div class="btn-group dropright customers-action-button">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'BackOfficeApp:add_customer_product'  %}">Add Product</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Product Filters</h6>
  </div>
</div>
<div class="row my-5 customers-table table-responsive">
    <h3>Product</h3>
        <table class="table">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Serial Number</th>
                  <th>Year</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Market Value</th>
                </tr>
            </thead>
            <tbody>
                {% for product in dashboard_session.all_account_products %}
                <tr>
                  <th scope="row"> <a href="{% url 'BackOfficeApp:update_customer_product' product_id=product.id %}">{{forloop.counter}}</a></th>
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.serial_number}}</td>
                  <td>{{product.year}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.category}}</td>
                  <td>{{product.market_value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% if dashboard_session.add_customer_message  %}
    {% include  'AdminDashboard/modal.html' %}
 {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script>
   $(document).ready(function(){
     
      var extradata = "{{ dashboard_session.add_customer_message }}";
      if(extradata && extradata.length > 0){
         $("#myModal").modal("show");
      }

   });
   
</script>

