{% load static %}
<div class="btn-group dropright customers-action-button">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'BackOfficeApp:add_customer_account' id_number=dashboard_session.customer_id_number%}">Add Account</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Accounts Filters</h6>
  </div>
</div>
<div class="row my-5 customers-table table-responsive">
    <h3>Accounts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th>Customer Id</th>
                    <th>Account Id</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Created Date</th>
                    <th>No. Of Products</th>
                    <th>Payment Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for account in dashboard_session.all_customers_accounts %}
                <tr>
                    <th> <a href="{% url 'BackOfficeApp:update_customer_account' account_id=account.id %}">{{forloop.counter}}</a></th>
                    <td><a href="{% url 'BackOfficeApp:update_customer_personal_details' id_number=account.customer.id_number %}">{{account.customer.id}}</a></td>
                    <td>{{account.id}}</td>
                    <td>{{account.loan_amount}}</td>
                    <td>{{account.rate}}</td>
                    <td>{{account.created_at}}</td>
                    <td><a href="{% url 'BackOfficeApp:get_account_product' account_id=account.id %}">{{account.number_of_products}}</a></td>
                    <td>{{account.payment_due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div> 

