{% load static %}
<link rel="stylesheet" href="{% static 'AdminDashboard/customer_registration.css' %}">
<div class="btn-group dropright customers-action-button">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" id="delete_customer">Delete Customer</a>
    <a class="dropdown-item" href="{% url 'BackOfficeApp:get_customer_accounts' dashboard_session.customer_id_number  %}" id="customer_account">Customer Account</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Customer Filters</h6>
    <a class="dropdown-item" href="#">All customers</a>
    <a class="dropdown-item" href="#">Only customers with active accounts</a>
  </div>
</div>

<div class="form-body">
   <div class="row">
     <div class="form-holder">
       <div class="form-content">
         <div class="form-items">
           <h3>Update Customer</h3>
           
           <form id = "update_form" action="{% url 'BackOfficeApp:update_customer_personal_details' dashboard_session.customer_id_number  %}" method ="POST">
             
            {% csrf_token %}
            <br>
            <h7>Fill in the personal details below.</h7>
            {% for e in dashboard_session.add_customer_form %}
               <div class="col-md-12">
                  {{e}}
               </div>
               {% if dashboard_session.add_customer_form %}
                  {{ e.errors }}
               {% endif %}
            {% endfor %}
      
             <div class="container">
               <div class="form-button mt-3">
                  <button id="submit" type="submit" class="btn btn-primary">Update</button>
                </div>
             </div>
           </form>
           
         </div>
       </div>
     </div>
   </div>
   {% if dashboard_session.add_customer_message %}
      {% include  'AdminDashboard/modal.html' %}
   {% endif %}

   {% include  'AdminDashboard/delete_confirmation.html' %}
 </div>
 

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script>
   $(document).ready(function(){
      $('select option:contains("---------")').text('Select Gender Here');
      var extradata = "{{ dashboard_session.add_customer_message }}";
      if(extradata && extradata.length > 0){
         $("#myModal").modal("show");
      }


      $('#delete_customer').click(function(){
         $("#deleteconfirmation").modal("show");
      });

      /*var id_payment_due_date = $("#id_payment_due_date").val()
      id_payment_due_date = id_payment_due_date.substring(0, id_payment_due_date.indexOf(" "));
      $("#id_payment_due_date").val(id_payment_due_date)*/


   })
</script>
 