{% load static %}
<div class="row g-3 my-2 ">
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 customer-stats">{{dashboard_session.number_of_customers}}</h3>
                <p class="fs-5 product-name">Customers</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 customer-stats">{{dashboard_session.number_of_sales}}</h3>
                <p class="fs-5 product-name">Loan Sales</p>
            </div>
            <i
                class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 customer-stats">0</h3>
                <p class="fs-5 product-name">Paid Loans</p>
            </div>
            <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 customer-stats">0</h3>
                <p class="fs-5 product-name">Unpaid Loans</p>
            </div>
            <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 customer-stats">0</h3>
                <p class="fs-5 product-name">Product Sales</p>
            </div>
            <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

</div>

{% if dashboard_session.customers or dashboard_session.filtered_result  %}
<div class="btn-group dropup customers-action-button">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu dashboard-landing-dropdown-menu">
      <h6 class="dropdown-header">Customers Filters</h6>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=today">Today</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=yesterday">Yesterday</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=5">Last 5 Days</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=10">Last 10 Days</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=15">Last 15 Days</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=20">Last 20 Days</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=30">Last 30 Days</a>
      <a class="dropdown-item" href="{% url 'AdminDashboard:adminlandingpage'  %}?filter=>30">More Than 30 Days</a>
    </div>
</div>
<div class="row my-5 customers-table table-responsive">
    
        <h3>Recent Customers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Customer Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
            </thead>
            <tbody>

                {% for customer in dashboard_session.customers|dictsort:"customer_id" %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{customer.customer_id}}</td>
                    <td>{{customer.first_name}}</td>
                    <td>{{customer.last_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

 <div class="row my-5 customers-table table-responsive">
    <h3>Recent Loan Sales</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">AccountId</th>
                    <th scope="col">CustomerId</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>

                {% for sale in dashboard_session.sales|dictsort:"account_id" %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{sale.account_id}}</td>
                    <td>{{sale.customer_id}}</td>
                    <td>R{{sale.loan_amount}}</td>
                    <td>{{sale.rate}}</td> 
                    <td>{{sale.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
 </div>

{% endif %}
