<div class="modal fade" id="deleteconfirmation" role="dialog">
   <div class="modal-dialog">
  
   <div class="modal-content">
      <div class="modal-header dashboard-modal-header">
         <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
         <p class ="add_customer_message_class_error">
            Are you sure you want to delete the selected record?
         </p>

         <p>
           {% if dashboard_session.add_customer_message_action_hyperlink_url_parameters %}
               <span>
                  <a href="{% url dashboard_session.add_customer_message_action_hyperlink_url dashboard_session.add_customer_message_action_hyperlink_url_parameters %}?{{dashboard_session.add_customer_message_action_hyperlink_url_query_string}}">Yes, I'm sure.</a>
               </span>
            {% elif dashboard_session.add_customer_message_action_hyperlink_url_query_string %}
               <span>
                  <a href="{% url dashboard_session.add_customer_message_action_hyperlink_url %}?{{dashboard_session.add_customer_message_action_hyperlink_url_query_string}}">Yes, I'm sure.</a>
               </span>
            {% else %}
               <span>
                  <a href="{% url dashboard_session.add_customer_message_action_hyperlink_url %}">Yes, I'm sure.</a>
               </span>
            {% endif %}
         </p>
        
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
   </div>
   
   </div>
</div>